 /* Declaration de la Classe grand-titre */
 
 .grand-titre {
     background-color: #0080ff;
     color: #FFFFFF;
     padding: 10px 5px;
     font-size: 24px;
 }
 /*declaration de l'Id Description-ville */
 
 h2#description-ville {
     margin: 10px 0;
     text-transform: uppercase;
     color: #128805;
 }
 /* forcage css */
 
 #description-ville {
     margin: 40px 0 !important;
     border: 2px solid #138A06;
     border-left-width: 10px;
     border-right-width: 10px;
 }
 /* Declaration de la Classe Section */
 
 .section {}
 /* Declaration de la Classe footer */
 
 .footer {}
 /*declaration de l'Id Logo */
 
 #logo {}
 
 body {
     font-family: 'roboto', sans-serif;
     text-align: center;
     background: url("../images/Back.jpg") no-repeat fixed center center;
     background-size: 100% 100%;
     /*
       background-repeat: no-repeat;
       background-position: center center;
       background-attachment: fixed; */
 }
 /*liens utiles */
 
 #liens-utiles {
     margin: 20px 0 0 0;
 }
 /* classe container */
 
 .container {
     width: 400px;
     margin: 0 auto;
     /*centrer une div */
 }
 /* banniere de la page d'accueil */
 
 #banniere {
     width: 100%;
     border-radius: 5px;
 }
 
 a {
     text-decoration: none;
     font-weight: bold;
 }
 
 #list-services {
     list-style: none;
 }
 
 .login {
     text-align: left;
     margin-left: 10px;
     margin-top: 20px;
 }
 
 .formulaire {
     border: 2px solid #000;
     border-radius: 5px;
     background-color: #FFFFFF;
     padding: 15px 0;
     padding-bottom: 60px;
 }
 
 #bouton {
     margin: 20px 0 0 0;
 }
 
 input {
     width: 100%;
     margin-right: 100px;
 }