﻿<!doctype html>
<html lang="fr-FR" ng-app>
<head>
<meta charset="utf-8">
<title>Formation HTML</title>

<link rel="stylesheet" type="text/css" href="css/style.css">


<link rel="icon" href="images/favicon.ico" type="image/x-icon">


<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<!-- Les librairies du projet -->
<!-- Librairie Font awesome45 -->
<link rel="stylesheet" type="text/css" href="lib/fontawesome45/css/font-awesome.min.css">

        <!-- Angular JS -->
        <script src="lib/angularjs/angular.min.js"></script>



</head>
<body>
     
<!-- container -->
<div class="container">


      <img id="banniere" src="images/green-park-website-header-design-background.jpg" height="100" />

     <div>
         <p>
            <i class="fa fa-user"></i> <span id="txtNomClient">{{NomClient}}</span>
         </p>

    </div>
      

      <!-- Ceci est un grand titre -->
      <h1 class="grand-titre">Bienvenue à Yamoussoukro</h1>

      <div>
         <h2 id="description-ville">Capitale verte</h2>

         <input type="text" id="inputNomClient" ng-model="NomClient" placeholder="Entrer votre nom">


         <!-- Bouton d'actions -->

         <div id="bouton" ng-if="NomClient == 'SODERTOUR'">

         <!-- Bouton de connexion avec icone dessus -->
           <button id="btnconnexion"> <i class="fa fa-sign-in"></i> Connexion</button>

           <button id="btnMasquerImage"> <i class="fa fa-remove"></i> Masquer Banniere</button>
           <button id="btnAfficherImage"> <i class="fa fa-check-circle"></i> Afficher Banniere</button>
           <button id="btnAfficherMasquerImage"> <i class="fa fa-euro"></i> Afficher Masquer</button>
           <button id="btnAjouterElement"> <i class="fa fa-plus-circle"></i> Ajouter Element</button>
           <button id="btnAttribuerClasse"> <i class="fa fa-plus-square"></i> Attribuer Classe</button>




         </div>

         <h3 class="grand-titre">Hôtel Président</h3>

         <!-- Ceci est un paragraphe -->
         <p ng-class="{grand-titre: NomCllient =='SODERTOUR'}"><i>Nous sommes à la salle KOSSOU</i></p>
      </div>


      <div id="liens-utiles">

          <!-- Ceci est le lien vers presentation_hotel -->
          <a href="presentation_hotel.html"><b>Présentation de l'hôtel</b></a>
          <br>
          <!-- Ceci est le lien vers services_hotel -->
          <a href="services_hotel.html"><b>Services de l'Hôtel</b></a>
          <br>
          <!-- Ceci est le lien vers google -->
          <a href="https:www.google.com" target="_blank"><b>Aller sur GOOGLE</b></a>
          <br>
          <!--Ceci est le lien vers formulaire -->
          <a href="formulaire.html"><b>Formulaire</b></a>

      </div>

      <?php
      echo "Hello World!";
      ?>

      <?php  ?>
</div>
        <!-- Librairie Jquery -->
        <script src="lib/jquery/jquery.min.js"></script>


        <!-- Script JS de l'application -->
        <script src="js/script.js"></script>


</body>
</html>